@page "{cityName}"
@model TP2.Pages.DetailsManager.CityDetailsModel
@{
    ViewData["Title"] = "Detalhes da Cidade";
}

<h2>Detalhes da Cidade</h2>

<p>Você está vendo detalhes de: <strong>@Model.CityName</strong></p>
