@page
@model TP2.Pages.CityManager.CreateCityModel
@{
    ViewData["Title"] = "Cadastrar Cidade";
}

<h2>Cadastro de Cidade Turística</h2>

<form method="post">
    <div asp-validation-summary="All" class="text-danger"></div>

    <div>
        <label asp-for="Input.CityName"></label>
        <input asp-for="Input.CityName" class="form-control" />
        <span asp-validation-for="Input.CityName" class="text-danger"></span>
    </div>

    <button type="submit">Enviar</button>
</form>

@if (!string.IsNullOrEmpty(Model.Message))
{
    <p>@Model.Message</p>
}


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}